/* Profile.css */
.profile h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold; 
    margin-bottom: 0; 
    color: #333; 
}

.profile h2 {
    font-size: 1.5em; 
    margin-top: 0;
    color: #666; 
    font-weight: normal; 
}

.profile p {

}
