@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .flex-center {
        display: flex;
        justify-content: center;
        /* If you have 'align-items: center;', consider removing or changing it */
        /* height: 100vh; */
    }

    .resume-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 9in;
        min-height: 11in;
        background-color: #fff; /* White background for the paper */
        background-size: cover;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); /* Subtle shadow for depth */
        padding: 20px;
        margin: 20px auto; /* Centering the resume on the page */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        color: black; /* Text color for visibility */
        font-size: 14px; /* Larger font size for testing */
    }
    
    .main-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%; /* Ensure it takes the full width of the resume-container */
    }
    
    .job-history {
        flex: 1 1 80%; /* grow, shrink, basis */
        max-width: 80%;
    }
    
    .skills-section {
        flex: 1 1 20%;
        max-width: 20%;
    }
    
    .section-separator {
        border: none;
        height: 2px; /* Adjust the thickness of the line */
        background-color: #ddd; /* Light gray color for the line */
        box-shadow: 0 1px 1px rgba(0,0,0,0.1); /* Subtle shadow for depth */
        margin: 20px 0; /* Space above and below the line */
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .job-history, .skills-section {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
}