@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .flex-center {
        display: flex;
        justify-content: center;
    }

    .resume-container {
        display: flex;
        flex-direction: column; /* Changed to column */
        align-items: center;
        width: 9in;
        min-height: 11in;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px auto;
        overflow-y: auto;
        color: black;
        font-size: 14px;
    }

    .top-section, .bottom-section {
        display: flex;
        width: 100%;
    }

    .left-column-top {
        flex: 70%;
    }
    
    .left-column-bottom {
        flex: 70%;
    }

    .right-column-top  {
        flex: 30%;
    }

    .section-separator {
        border: none;
        height: 2px;
        width: 90%;
        background-color: #ddd;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        margin: 20px 0;
    }

    @media (max-width: 768px) {
        .top-section, .bottom-section {
            flex-direction: column;
        }

        .left-column-top, .right-column-top,
        .left-column-bottom, .right-column-bottom {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
