@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .flex-center {
        display: flex;
        justify-content: center;
    }

    .resume-container {
        display: flex;
        flex-direction: row; /* Changed to row */
        align-items: flex-start;
        justify-content: center;
        width: 9in;
        min-height: 11in;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px auto;
        overflow-y: auto;
        color: black;
        font-size: 14px;
    }
    
    .left-column {
        flex: 80%;
    }
    
    .right-column {
        flex: 20%;
    }
    
    .job-history {
        margin-right: 20px;
    }
    
    .skills-section {
        padding: 20px;
    }
    
    .section-separator {
        border: none;
        height: 2px;
        width: 90%;
        background-color: #ddd;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        margin: 20px 0;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .resume-container {
            flex-direction: column;
        }

        .left-column, .right-column {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
        }

        .job-history, .skills-section {
            /* Adjust if needed */
        }
    }
}
